       .main-content {
            min-height: 1000px;
            width: 90%;
            margin: 20px auto;
            display: grid;
            grid-template-columns: 300px 700px;
            
        }
        .left-section {
            grid-column: span 1;
            background-color: black;
        }
        .right-section {
            grid-column: span 1 / span 2;
            
        }
        .left-content {
            padding: 1rem;
        }
        .profile-image {
            display: block;
            margin: auto;
            border: 5px;
            border-radius: 30%;
            width: 60%;
        }
        .name {
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
            padding-left: 0.8rem;
            padding-left: 0.8rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.02px;
            color: white;
        }
        .designation {
            font-size: 1rem;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
            color: white;
        }
        .description {
            font-size: 0.75rem;
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            color: white;
        }
        .skill-title {
            font-size: 0.75rem;
            text-align: center;
            text-transform: uppercase;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            color: white;
        }
        .skill-name {
            font-size: 0.65rem;
            font-weight: 0.65rem;
            text-align: left;
            padding-bottom: 0.5rem;
            color: white;
        }
        .progress-bar {
            border: 1px white solid;
            height: 4px;
            background-color: white;
            border-radius: 10px;
        }
            .personal-details {
            color: white;
        }
        .social-media {
            display: block;
            margin: auto;
            border: 5px;
            width: 10%;
        }
        .right-section{
            padding-top: 2rem;
            padding-bottom: 2rem;
            padding-right: 3rem;
            padding-left: 3rem;
        }
        .right-title{
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            padding: 0.5rem;
            letter-spacing: 1px;
        }
        .social-media{
            height: 30px;
        }
        @media screen and (max-width: 673px)
        {
            .main-content {
                grid-template-columns: repeat(1, 1fr);
            }
        }
